.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  color: #fff;
}

.css-1xr9krm {
  color: #fff !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background: #884dfe;
  border-radius: 50px;
}

.css-1xr9krm.Mui-selected {
  background: #884dfe !important;
  border-radius: 50px !important;
}

.MuiPaginationItem-page {
  background: #444551;
  border-radius: 50px;
  margin: 0 10px;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root:hover {
  background: #444551;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected:hover {
  background: #884dfe;
}

.css-1xr9krm.Mui-selected:hover {
  background: #884dfe !important;
}
