.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__error {
    font-family: "Satoshi Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 12px;
    color: red;
    padding: 0 0 15px 0;
  }
  &__input {
    max-width: 750px;
    width: 100%;
    margin: 0 0 12px 0;
    background: #24252e;
    border: 2px solid #323443;
    border-radius: 4px;
    padding: 20px;
    font-family: "Satoshi Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 12px;
    color: #ffffff;
  }
  &__button {
    font-family: "Satoshi Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: #fcfcfc;
    background: linear-gradient(104.43deg, #a139fd 11.26%, #50bdfc 90.79%);
    backdrop-filter: blur(20px);
    border-radius: 4px;
    max-width: 180px;
    width: 100%;
    padding: 13px 0;
    border: none;
  }
}
