@import "reset.css";

@font-face {
  font-family: "Satoshi Regular";
  src: local("Satoshi"), url(../fonts/Satoshi-Regular.woff) format("woff");
}

@font-face {
  font-family: "Satoshi Medium";
  src: local("Satoshi"), url(../fonts/Satoshi-Medium.woff) format("woff");
}

@font-face {
  font-family: "Satoshi Bold";
  src: local("Satoshi"), url(../fonts/Satoshi-Bold.woff) format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Satoshi", sans-serif;
}

a {
  text-decoration: none;
}

/* input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
} */

#app-root {
  /* width: 100%; */
  /* height: 100%; */
  /* overflow-y: scroll; */
  overflow-x: hidden;
  /* display: flex; */
}
