.css-l3ln04-MuiAutocomplete-root {
  max-width: 640px;
  width: 100%;
  background: #24252e;
  border: 2px solid #323443;
  border-radius: 4px;
}

/* .MuiAutocomplete-root {
  max-width: 640px;
  width: 100%;
  background: #24252e;
  border: 2px solid #323443;
  border-radius: 4px;
} */

@media (max-width: 860px) {
  .css-l3ln04-MuiAutocomplete-root {
    max-width: 100%;
  }
  .MuiAutocomplete-root {
    max-width: 100% !important;
  }
}

.css-2y464i-MuiInputBase-root-MuiFilledInput-root {
  font-family: "Satoshi Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #9b9d9f;
  opacity: 1;
}

.css-l3ln04-MuiAutocomplete-root .MuiFilledInput-root .MuiFilledInput-input {
  padding: 0;
}

.css-1lambp5 .MuiFilledInput-root .MuiFilledInput-input {
  padding: 0 !important;
}

.css-l3ln04-MuiAutocomplete-root .MuiFilledInput-root {
  padding: 20px;
}

.css-1lambp5 .MuiFilledInput-root {
  padding: 20px !important;
  max-width: 640px;
  width: 100%;
  background: #24252e;
  border: 2px solid #323443;
  border-radius: 4px;
}

.css-2y464i-MuiInputBase-root-MuiFilledInput-root,
.css-2y464i-MuiInputBase-root-MuiFilledInput-root:hover {
  background: none;
}

.css-l3ln04-MuiAutocomplete-root .MuiFilledInput-root .MuiFilledInput-input {
  font-family: "Satoshi Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #ffffff;
}

.css-2bxn45 {
  font-family: "Satoshi Regular" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 12px !important;
  color: #ffffff !important;
}

.css-6od3lo-MuiChip-label {
  font-family: "Satoshi Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: #ffffff;
}

.css-ftr4jk {
  font-family: "Satoshi Regular" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 12px !important;
  color: #ffffff !important;
}

.css-1g7d3df {
  font-family: "Satoshi Regular" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 12px !important;
  color: #ffffff !important;
}

.css-11kzweo {
  font-family: "Satoshi Regular" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 12px !important;
  color: #ffffff !important;
}

.css-l3ln04-MuiAutocomplete-root .MuiAutocomplete-tag {
  background: #494b57;
  border-radius: 4px;
  border: none;
  margin: 0 6px 5px 0;
}

.css-1lambp5 .MuiAutocomplete-tag {
  background: #494b57 !important;
  border-radius: 4px !important;
  border: none !important;
  margin: 0 6px 5px 0 !important;
}
